version: "3.9"

services:
  mongodb:
    image: mongo:7
    container_name: mongo-policy-management-local
    restart: unless-stopped
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: admin
    volumes:
      - mongo-policy-management-local-data:/data/db

volumes:
  mongo-policy-management-local-data:
    driver: local